# Copy to .env only if you want to override defaults used by docker-compose.
# Do not put the SIP password here. The phone-specific file in http/ is ignored by git.

AVAYA_EXTENSION=373316-100
AVAYA_DOMAIN=pbx.zadarma.com
SIP_ADVERTISE_HOST=auto
AVAYA_INTERFACE_ALIAS=
SIP_ADVERTISE_PORT=5060
SIP_REMOTE_HOST=185.45.152.164
SIP_REMOTE_PORT=5060
SIP_INVITE_EXPIRES=180
HTTP_PORT=80
SYSLOG_PORT=514
AVAYA_LOGO_LABEL=LTM
AVAYA_LOGO_URL=auto
